/*
This is a CSS coma test
Ramze Jarad

*/

body{
	background-image: url('images/bodyBg.jpg');
	color: #000305;
	font-size: 87%; /* base font-size = 14px */
	font-family: Arial, 'Lucida Snas Unicode';
	line-height: 1.5;
	text-align: left;

}

a{
	text-decoration: none;
}
a:link, a:visited{
	color: #e74c3c;
}

a:hover, a:active{	
	color: #f58233;
}
.body{
	margin: 10px auto;
	width: 80%;
	clear: both;
}

/* ------------------------ mainheader ------------------ */

.mainheader img{
	width: 100%;
}

.mainheader nav{
	background-color: #e74c3c;
	height: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.mainheader nav ul{
	text-align: center;
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li{
	display: inline;

}
.mainheader a:link, .mainheader a:visited{
	color: white;
	padding: 10px 40px;
	display: inline-block;
	height: 20px;

}


.mainheader a:hover, .mainheader a:active{
	color: white;
	background-color: #f58233;
	text-shadow: 1px 1px #000;

}

/* ------------------------ mainContent ------------------ */

.mainContent{
	width: 70%;
	float: left;
}

.top-content{
	background-color: #fff;
	padding: 3%;
	margin-top: 3%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.post-info{
	font-size: 90%;
	color: #999;
	font-style: italic;
	margin-top: -20px;
}

.post-content{
	display: block;
}

/* ------------------------ aside ------------------ */

.theSidebar{
	width: 24%;
	margin: 2% 0 0 2%;
	float: left;
	padding: 2%;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	

}


/* ------------------------ FOOTER ------------------ */

.footer{
	margin-top: 10px;
	float: left;
	width: 100%;
	background-color: #e74c3c;
	height: 60px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.footer p{
	text-align: center;
	color: white;
	margin-top: 20px;
	width: 90%;

}

/*------------------------- HTML 5 ----------------- */

.post-img{
	width: 100%;
}

figure{
	margin: 25px 25px;
	font-size: 80%;
	color: #999;
}


